*{
	box-sizing: border-box;
	font-family: 'Bungee', cursive;
}
body {
	background-image: url(https://raw.githubusercontent.com/jschomay/phaser-demo-game/master/assets/starfield.png);
	background-size:cover;
}
.basic-menu {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	color:white;
}
button {
	margin: 2rem;
	background-color:red;
	color: white;
}

#game-menu {
	position: fixed;
	height:3rem;
	width:100vw;
    top: 0px;
    right: 0px;
    opacity: 1;
    color: #000;
    display: block;
    padding: 10px 9px;
    padding-bottom: 6px;
    font-size: 16px;
    z-index: 999999;
    display: none;
    text-align: center;
}
h3, #waiting-lobby {
	color:white;
}
#waiting-lobby {
	display: none;
	text-align: center;
}
#instructions, #high-scores {
	display: none;
}